{% extends 'main.html' %}

{% block content %}
<br>
<br>
<br>
<br>
{% if page == 'edit' %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="login shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <h1 class="text-center">Edit</h1>

        <div class="form-group">
            <label class="form-label" for="Roll">Roll</label>
            <input class="form-control" {{form.Roll}}
        </div>

        <div class="form-group">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" {{form.Name}} 
        </div>

        <div class="form-group">
            <label class="form-label" for="Gender">Gender</label>
            <input class="form-control" {{form.Gender}} 
        </div>

        <div class="form-group"
            <label class="form-label" for="Branch">Course</label>
            <input class="form-control" {{form.Cou}} 
        </div>
        <br>

        <input class="btn btn-secondary w-100" type="submit" id="submit">
    </div>
{% else %}
<form action="" method="POST">
    {% csrf_token %}
    {{add.as_p}}
    <input type="submit" value="submit">

</form>
{% endif %}

{% endblock content %}